BASE_CHROME_PORT=9222

DEFAULT_CLIA_NUMBER=sdv
DEFAULT_PLACE_OF_SERVICE=sdv
DEFAULT_PROVIDER_NPI=sdv
DEFAULT_PROVIDER_LAST_NAME=sdv
DEFAULT_PROVIDER_FIRST_NAME=sdv
DEFAULT_PROVIDER_TAXONOMY=sdv
DEFAULT_PROVIDER_ADDRESS=sdv
DEFAULT_PROVIDER_CITY=sdv
DEFAULT_PROVIDER_STATE=sdv
DEFAULT_PROVIDER_ZIP=sdv
DEFAULT_REFERRING_PROVIDER_QUALIFIER=DN

LOGIN_EMAIL=sdvsdv@gmail.com
LOGIN_PASSWORD=sdvsdvsdv